.bg {
    background-color: green;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 45px;
}

.card {
    background-color: #fff;
    width: min(250px, 80%);
    border-radius: 8px;
    box-shadow: 2px 8px 15px 2px rgb(34, 34, 34);
    margin-top: 20px;
}

.card__section {
    padding-inline: 20px;
    border-radius: 8px;
}

.card__symbol {
    height: 100px;
    line-height: 100px;
    font-size: 5em;
}

.card__symbol--red {
    color: rgb(209, 18, 18);
}

.card__symbol--left {
    text-align: left;
}

.card__symbol--right {
    text-align: right;
    transform: rotateX(180deg);
}

.card__number {
    height: 150px;
    line-height: 150px;
    text-align: center;
    font-size: 5em;
}

.externals {
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: center;
}

.btn {
    width: 150px;
    margin-inline: auto;
    padding: 10px;
    font-size: 1.2em;
    font-weight: bold;
    line-height: 1.2em;
    border-radius: 5px;
    background-color: rgb(224, 224, 79);
    border: none;
    box-shadow: 1px 1px 1px 1px black;
    align-self: start;
}

.btn:hover {
    transform: translateY(-2px);
    box-shadow: 1px 4px 6px 1px black;
}

#cardHistoryContainer {
    background-color: #97f8a5;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: fit-content;
    padding: 10px;
    border-radius: 8px;
}

#cardHistoryContainer p {
    font-size: 18px;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-block: 5px;
    text-decoration: underline;
}

#cardHistoryContainer ul  {
    padding: 0px;
    margin: 0px;
}

#cardHistoryContainer ul li {
    list-style: none;
    margin-block: 4px;
    font-size: 18px;
}

@media screen and (min-width: 750px) {

    .bg {
        flex-direction: row;
        justify-content: center;
        align-items: start;
    }

    .externals {
        margin-top: 20px;
    }
}